
body {
  margin: 0;
}

body {
  height: 100vh;
}

@font-face {
    font-family: OpenSans;
    src: url("/src/assets/OpenSans.ttf");
}

* {
  font-family: "Open Sans", OpenSans, sans-serif;
}

.menu-start {
  display: inline-block;
  margin: 10pt;
  padding: 10pt;
  border: none;
  outline: none;
  color: white;
  border-radius: 8pt;
  cursor: pointer;
}

.menu-start::after {
  content: '›';
  display: inline-block;
  width: 0;
  height: 1rem;
  overflow: hidden;
  transition: all .2s;
}

.menu-start:hover::after {
  width: fit-content;
  padding-left: 5pt;
}

.map-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
}

.map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  pointer-events: none;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  padding: 5pt;
  box-sizing: border-box;
}

.map-overlay * {
  pointer-events: all;
}

.guess-input {
  width: 200pt;
  height: 30pt;
  margin-top: 10pt;
  padding: 5pt 15pt;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  font-size: 10pt;
  border: 1.5pt solid black;
  border-radius: 15pt;
  transition: background-color .1s;
}

.guess-input:focus {
  outline: none;
  box-shadow: 0 0 5pt inset gray;
}

.guess-input.incorrect {
  background-color: #f47c7e;
}

.map-overlay-pane {
  width: fit-content;
  height: 30pt;
  padding: 5pt 10pt;
  margin-left: auto;
  margin-top: 10pt;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 5pt;

  background-color: white;
  border-radius: 15pt;
  border: 1.5pt solid black;
  font-size: 10pt;
}

.map-overlay-pane button {
  background: none;
  border: none;
  box-shadow: 0 0 0 1pt inset lightgray;
  padding: 2pt 5pt;
  border-radius: 3pt;
  transition: background-color .1s;
  cursor: pointer;
  font-size: inherit;
}

.map-overlay-pane button:hover {
  background-color: lightgray;
}

.score-label {
  letter-spacing: 0.3pt;
}

.map-tooltip {
  /* undo the default style */
  background: none;
  border: none;
  box-shadow: none;
  margin: 0;
  line-height: normal;

  /* spacing from the marker */
  margin-top: 6pt;

  font-size: 9.5pt;
  font-weight: 500;
  letter-spacing: 0.2pt;
  color: white;
  background-color: #2c2c2db2;
  border-radius: 3pt;
  padding: 0 2pt;
}

.map-tooltip::before, .map-tooltip::after {
  display: none;
}
